In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
sns.set_context("poster")
sns.set(rc={"figure.figsize": (12.,6.)})
sns.set_style("whitegrid")

In [5]:
df = pd.read_csv("data/clean_sharks.csv", index_col =0) #para que no me figure la columna Unnammed: 0

In [6]:
df

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal (Y/N),Time,Species_s,Investigator or Source,Date_month
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,No injury,Unknown,18h00,White shark,"R. Collier, GSAF",Juny
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing in water,Adyson McNeely,F,11,Minor injury,Unknown,14h00 -15h00,other_specie,"K.McMurray, TrackingSharks.com",Juny
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",other,John Denges,M,48,Leg injury,Unknown,07h45,other_specie,"K.McMurray, TrackingSharks.com",Juny
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,other,male,M,Unknown,Minor injury,Unknown,Unknown,other_specie,"B. Myatt, GSAF",Juny
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Diving,Gustavo Ramos,M,Unknown,Hand injury,Unknown,Unknown,Tiger shark,A .Kipper,Juny
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Unknown,Diving,Ahmun,M,Unknown,Fatal injury,Y,Unknown,other_specie,"H. Taunton; N. Bartlett, pp. 233-234",Other
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,Fatal injury,Y,Unknown,other_specie,"F. Schwartz, p.23; C. Creswell, GSAF",Other
6300,1883-1889,0.0,Unprovoked,PANAMA,Unknown,"Panama Bay 8ºN, 79ºW",other,Jules Patterson,M,Unknown,Fatal injury,Y,Unknown,other_specie,"The Sun, 10/20/1938",Other
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,Fatal injury,Y,Unknown,other_specie,S.W. Baker,Other
6302,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,other,Unknown,Unknown,Unknown,other_injury,Unknown,Unknown,other_specie,Unknown,Other

### Voy a crearme un dataframe solo con las columnas que necesito para comprobar mis hipótesis.

In [14]:
df_h=df[["Sex_", "Activity", "Date", "Area", "Species_s", "Country","Date_month"]]

In [15]:
df_h.head()

,Sex_,Activity,Date,Area,Species_s,Country,Date_month
0,F,Paddling,25-Jun-2018,California,White shark,USA,Juny
1,F,Standing in water,18-Jun-2018,Georgia,other_specie,USA,Juny
2,M,other,09-Jun-2018,Hawaii,other_specie,USA,Juny
3,M,other,08-Jun-2018,New South Wales,other_specie,AUSTRALIA,Juny
4,M,Diving,04-Jun-2018,Colima,Tiger shark,MEXICO,Juny

### Para comprobar mis hipótesis necesitaré agrupar las columnas que quiero comparar, antes de ello voy a eliminar los valores Unknown y other que no me dan valor a mi gráfico.

In [11]:
df_sex_activity = df[(df["Sex_"] != 'Unknown')& (df["Activity"] != 'other')] 
df_sex_activity

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal (Y/N),Time,Species_s,Investigator or Source,Date_month
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,No injury,Unknown,18h00,White shark,"R. Collier, GSAF",Juny
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing in water,Adyson McNeely,F,11,Minor injury,Unknown,14h00 -15h00,other_specie,"K.McMurray, TrackingSharks.com",Juny
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Diving,Gustavo Ramos,M,Unknown,Hand injury,Unknown,Unknown,Tiger shark,A .Kipper,Juny
5,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite,Chris,M,Unknown,No injury,Unknown,Unknown,other_specie,"Daily Telegraph, 6/4/2018",Juny
6,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Fatal injury,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",Juny
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6296,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,Unknown,Fatal injury,Y,Unknown,Nurse shark,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",Other
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,Unknown,Fatal injury,Y,Unknown,other_specie,"H. Taunton; N. Bartlett, p. 234",Other
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Unknown,Diving,Ahmun,M,Unknown,Fatal injury,Y,Unknown,other_specie,"H. Taunton; N. Bartlett, pp. 233-234",Other
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,Fatal injury,Y,Unknown,other_specie,"F. Schwartz, p.23; C. Creswell, GSAF",Other
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,Fatal injury,Y,Unknown,other_specie,S.W. Baker,Other

In [12]:
df_plot = pd.DataFrame(df_sex_activity.groupby(["Sex_", "Activity"]).agg({"Activity": "count"})) #me devuelve una serie, las columnas me salen como índices

In [13]:
df_plot.columns = ["count"]
df_plot.reset_index()

   Sex_              Activity  count
0     F               Bathing     20
1     F                  Boat      8
2     F         Body Boarding     13
3     F          Boogie Board     16
4     F                Diving     28
5     F               Fishing     23
6     F              Floating      8
7     F  Interact with sharks     17
8     F               Jumping      4
9     F                  Kite      1
10    F             OverBoard      4
11    F              Paddling      8
12    F     Standing in water     36
13    F              Swimming    176
14    F               Walking      9
15    F          Wind Surfing      1
16    M               Bathing    159
17    M                  Boat     75
18    M         Body Boarding    122
19    M          Boogie Board     34
20    M                Diving    465
21    M               Fishing    978
22    M              Floating     37
23    M  Interact with sharks    115
24    M               Jumping     11
25    M                  Kite     20
26    M             OverBoard     80
27    M              Paddling     28
28    M     Standing in water    105
29    M              Swimming    904
30    M               Walking     17
31    M          Wind Surfing     21

In [ ]:
barplot = sns.barplot(x="year", y="passengers", data=vuelos,ci="sd");