In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import re
import src.cleaning_functions as cf

In [2]:
!pwd

/mnt/c/Users/beasp/IronHack/PROYECTOS/proyecto1_pandas

In [3]:
df_attacks = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1") #To load the data csv
#mi dataFrame es df_attacks

# Hipótesis:
### - Se dan más ataques a hombres que practican wind surfing que en hombres que practican natación
### - Se dan más ataques en junio que en febrero en California
### - El tiburón White shark provoca más ataques en USA que en Australia

1.Ahora voy a eliminar las columnas que no me van a dar ninguna información para comprobar mis hipótesis. En principio las que voy a usar SEGURO son:
- Sex
- Activity
- Date
- Area
- Species
- Country

In [4]:
df_attacks.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
df_attacks.shape

(25723, 24)

## Método de limpieza 1. Borrar todas las filas de NaN

In [6]:
df_attacks.dropna(how="all", inplace=True) #LO PRIMERO QUE TENGO QUE HACER ES BORRAR TODAS LAS FILAS DE NAN

In [7]:
borrar= df_attacks.drop(["Case Number","pdf","href formula","href","Case Number.1","Case Number.2","original order","Unnamed: 22","Unnamed: 23"], axis=1)
#meto en variable "borrar" para borrar las columnas que sé que no me van a hacer falta para mis hipótesis

In [8]:
borrar.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper

In [9]:
df_attacks.shape

(8703, 24)

## Método de limpieza 2. Eliminar las filas duplicadas y filas con valores vacíos

In [10]:
borrar_duplicados= borrar.drop_duplicates() #me creo una variable para poder seguir trabajando con este dato, como por ejemplo para saber su shape a continuación
borrar_duplicados.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper

In [11]:
borrar_duplicados.shape

(6302, 15)

## Método de limpieza 3. Modificar los nombres de las columnas, ya que algunas tienen espacios o elementos especiales.

Solo voy a cambiar "Sex" y " Species"

In [12]:
para_sex = {"Sex ": "Sex_"}

In [82]:
borrar_duplicados.rename(columns=para_sex, inplace=True)

In [14]:
para_species = {"Species ": "Species_s"}

In [15]:
borrar_duplicados.rename(columns=para_species,inplace=True)

In [16]:
borrar_duplicados.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal (Y/N),Time,Species_s,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper

## Método de limpieza 4. Reemplazo los Nan por Unknown/Invalid para cada una de las columnas, pasando a ser un string. Para ello reviso primero cuáles de los valores son categóricos.

In [17]:
borrar_duplicados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6302
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    6301 non-null   object
 1   Year                    6299 non-null   float64
 2   Type                    6297 non-null   object
 3   Country                 6251 non-null   object
 4   Area                    5846 non-null   object
 5   Location                5761 non-null   object
 6   Activity                5757 non-null   object
 7   Name                    6091 non-null   object
 8   Sex_                    5736 non-null   object
 9   Age                     3471 non-null   object
 10  Injury                  6273 non-null   object
 11  Fatal (Y/N)             5762 non-null   object
 12  Time                    2948 non-null   object
 13  Species_s               3463 non-null   object
 14  Investigator or Source  6284 non-null   object
dtypes: float64(1), object(14)
memory usage: 787.8+ KB

In [18]:
lista_columnas=list(borrar_duplicados)
lista_columnas

['Date',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex_',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species_s',
 'Investigator or Source']

In [84]:
#Para reemplazar los Nan por "Unknown" en una sola línea utilizo un bucle que va a iterar por la lista de las columnas creada, (no hace falta que la pongamos porque está guardada arriba)
for elemento in lista_columnas:
    borrar_duplicados[elemento].fillna("unknown",inplace=True)

In [20]:
borrar_duplicados.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal (Y/N),Time,Species_s,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,unknown,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,unknown,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,unknown,Minor injury to lower leg,N,unknown,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,N,unknown,"Tiger shark, 3m",A .Kipper

## Método de limpieza 5. Comienzo con la sustitución de valores dentro de las columnas para disminuir el númro de valores únicos, que me van a dar información para comprobar mis hipótesis.

### 5.1. Limpieza de valores únicos usando replace. Lo usaré con las columnas "Sex", "Type", "Fatal (Y/N)"

#### Columna Sex

In [21]:
sex= borrar_duplicados["Sex_"].unique()
sex

array(['F', 'M', 'unknown', 'M ', 'lli', 'N', '.'], dtype=object)

Voy a reemplazar los valores que parece que quieren decir lo mismo para que se llamen de una misma manera, y los que no me dicen nada por "Unknown"

In [22]:
reemplazar1=borrar_duplicados.replace({"M ": "M", "lli":"Unknown",".":"Unknown","N":"Unknown", "unknown":"Unknown"}) 
reemplazar1.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal (Y/N),Time,Species_s,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",Unknown,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,Unknown,14h00 -15h00,Unknown,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,Unknown,07h45,Unknown,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Unknown,Minor injury to lower leg,Unknown,Unknown,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,Unknown,Unknown,"Tiger shark, 3m",A .Kipper

In [23]:
reemplazar1["Sex_"].unique() #compruebo si se han reemplazado los valores indicados, viendo de nuevo los valores únicos de la columna Sex.

array(['F', 'M', 'Unknown'], dtype=object)

#### Columna Type

In [24]:
Type= reemplazar1["Type"].unique()
Type

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Unknown', 'Boat', 'Boatomg'], dtype=object)

In [25]:
reemplazar1.Type.replace({"Boat": "Boating", "Boatomg":"Boating","Questionable":"Invalid"}, inplace=True)

In [26]:
reemplazar1["Type"].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Sea Disaster',
       'Unknown'], dtype=object)

#### Columna Fatal

In [27]:
Fatal= reemplazar1["Fatal (Y/N)"].unique()

In [28]:
reemplazar1["Fatal (Y/N)"].replace({"M": "N", "UNKNOWN":"Unknown","2017":"Unknown"," N": "N","N ":"N","y":"Y"}, inplace=True)

In [29]:
Fatal

array(['Unknown', 'Y', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [30]:
reemplazar1["Type"].value_counts()

Unprovoked      4594
Provoked         574
Invalid          549
Boating          341
Sea Disaster     239
Unknown            5
Name: Type, dtype: int64

In [31]:
reemplazar1.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal (Y/N),Time,Species_s,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",Unknown,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,Unknown,14h00 -15h00,Unknown,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,Unknown,07h45,Unknown,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Unknown,Minor injury to lower leg,Unknown,Unknown,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,Unknown,Unknown,"Tiger shark, 3m",A .Kipper

### 5.2 Limpieza de valores únicos usando regex. Lo usaré con las columnas "Activity", "Species_s", "Injury"

#### Columna Activity

In [32]:
len(reemplazar1["Activity"].unique())

1531

In [86]:
Actividad=list(reemplazar1.Activity.unique()) #hay que hacerlo lista porque sino no salen todas las actividades.

#### Utilizo la función importada, la cual me dará una columa con todos los valores agrupados según el criterio aplicado con regex, y el resto me figurará como "Other"

In [34]:
reemplazar1["Activity"] = reemplazar1["Activity"].apply(cf.limpiar_activity)

In [35]:
reemplazar1.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal (Y/N),Time,Species_s,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",Unknown,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing in water,Adyson McNeely,F,11,Minor injury to left thigh,Unknown,14h00 -15h00,Unknown,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",other,John Denges,M,48,Injury to left lower leg from surfboard skeg,Unknown,07h45,Unknown,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,other,male,M,Unknown,Minor injury to lower leg,Unknown,Unknown,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Diving,Gustavo Ramos,M,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,Unknown,Unknown,"Tiger shark, 3m",A .Kipper

#### Columna Species_s

In [36]:
Especies= reemplazar1["Species_s"].unique()

In [37]:
reemplazar1["Species_s"] = reemplazar1["Species_s"].apply(cf.limpiar_species)

In [38]:
reemplazar1.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal (Y/N),Time,Species_s,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",Unknown,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing in water,Adyson McNeely,F,11,Minor injury to left thigh,Unknown,14h00 -15h00,other_specie,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",other,John Denges,M,48,Injury to left lower leg from surfboard skeg,Unknown,07h45,other_specie,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,other,male,M,Unknown,Minor injury to lower leg,Unknown,Unknown,other_specie,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Diving,Gustavo Ramos,M,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,Unknown,Unknown,Tiger shark,A .Kipper

#### Columna Injury

In [39]:
reemplazar1["Injury"] = reemplazar1["Injury"].apply(cf.limpiar_injury)

In [40]:
reemplazar1.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal (Y/N),Time,Species_s,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,No injury,Unknown,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing in water,Adyson McNeely,F,11,Minor injury,Unknown,14h00 -15h00,other_specie,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",other,John Denges,M,48,Leg injury,Unknown,07h45,other_specie,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,other,male,M,Unknown,Minor injury,Unknown,Unknown,other_specie,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Diving,Gustavo Ramos,M,Unknown,Hand injury,Unknown,Unknown,Tiger shark,A .Kipper

In [41]:
reemplazar1.Injury.value_counts()

other_injury         1637
Fatal injury         1188
Leg injury            871
No injury             804
Foot injury           634
Hand injury           478
Laceration injury     326
Minor injury          220
Severe injury          41
Head injury            37
Abrasion injury        26
Toe injury             21
Abdomen injury         19
Name: Injury, dtype: int64

### 5.3 Limpieza de datos utilizando función con bucle for. Lo haré para las columnas "Date",""

#### En la columna date, voy a crear una columna nueva, sin eliminar la existente, porque aunque yo solo quiera los meses para comprobar mi hipótesis, la columna da más información que puede serme util para otras hipótesis, como el día y el año.

In [42]:
Fecha= reemplazar1["Date"].unique()
Fecha

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1883-1889',
       '1845-1853', 'Unknown'], dtype=object)

In [43]:
reemplazar1["Date_month"] = reemplazar1["Date"].apply(cf.mes) #estoy importando una función de visual

In [44]:
reemplazar1.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal (Y/N),Time,Species_s,Investigator or Source,Date_month
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,No injury,Unknown,18h00,White shark,"R. Collier, GSAF",Juny
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing in water,Adyson McNeely,F,11,Minor injury,Unknown,14h00 -15h00,other_specie,"K.McMurray, TrackingSharks.com",Juny
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",other,John Denges,M,48,Leg injury,Unknown,07h45,other_specie,"K.McMurray, TrackingSharks.com",Juny
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,other,male,M,Unknown,Minor injury,Unknown,Unknown,other_specie,"B. Myatt, GSAF",Juny
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Diving,Gustavo Ramos,M,Unknown,Hand injury,Unknown,Unknown,Tiger shark,A .Kipper,Juny

### 5.4 La columnas "Area", "Location","Name","Age","Time" y "Investigator or Source" no me van a servir para ninguna de mis hipótesis.

In [87]:
Area= reemplazar1["Area"].unique()

In [46]:
reemplazar1["Area"].value_counts() #entiendo que las áreas son las que son, no puedo limpiar esta columna

Florida                                 1037
New South Wales                          486
Unknown                                  456
Queensland                               311
Hawaii                                   297
                                        ...
Ysabel Island                              1
 Lau Province                              1
South Coast, East New Britain              1
Between Southampton & Canary Islands       1
Moala Island                               1
Name: Area, Length: 826, dtype: int64

In [88]:
Nombre= list(reemplazar1["Name"].unique())

In [48]:
frecuencia_nombres=reemplazar1["Name"].value_counts(sort=False) #Para que la frecuencia esté indicada con el mismo orden que la lista de valores únicos tengo que incluir la función sort=False
frecuencia_nombres
#mi intención es que todas las frecuencias de los valore únicos que sean mayores que 3, entiendo que no es el nombre de una persona como tal, entonces me los renombre como "unknow" (lo veremos más adelante).

Julie Wolfe           1
Adyson McNeely        1
John Denges           1
male                550
Gustavo Ramos         1
                   ...
a young Scotsman      1
Mr. Masury            1
A "chiefess"          1
Ahmun                 1
Jules Patterson       1
Name: Name, Length: 5229, dtype: int64

In [49]:
Time= reemplazar1["Time"].unique()

In [89]:
#en caso de que mi hipótesis necesite de los datos de Time para comprobarla, crearía una columna con los rangos horarios que necesite, mediante una función

In [51]:
Investigador= list(reemplazar1["Investigator or Source"].unique())

In [90]:
#(Investigador) #no me da ninguna información relevante que se haya investigado por una u otra persona

In [53]:
reemplazar1.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal (Y/N),Time,Species_s,Investigator or Source,Date_month
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,No injury,Unknown,18h00,White shark,"R. Collier, GSAF",Juny
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing in water,Adyson McNeely,F,11,Minor injury,Unknown,14h00 -15h00,other_specie,"K.McMurray, TrackingSharks.com",Juny
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",other,John Denges,M,48,Leg injury,Unknown,07h45,other_specie,"K.McMurray, TrackingSharks.com",Juny
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,other,male,M,Unknown,Minor injury,Unknown,Unknown,other_specie,"B. Myatt, GSAF",Juny
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Diving,Gustavo Ramos,M,Unknown,Hand injury,Unknown,Unknown,Tiger shark,A .Kipper,Juny

#### La columna Country si voy a utilizarla para comprobar una de mis hipótesis, pero realmente solo necesito los valores de USA, por ello simplemente filtraré cuando vaya a comprobar dicha hipótesis, pero no voy a limpiar datos de la columna.

In [79]:
Pais= reemplazar1["Country"].unique()

In [55]:
reemplazar1["Country"].value_counts()

USA                      2228
AUSTRALIA                1338
SOUTH AFRICA              579
PAPUA NEW GUINEA          134
NEW ZEALAND               128
                         ...
THE BALKANS                 1
NORTH ATLANTIC OCEAN        1
MAYOTTE                     1
GABON                       1
CEYLON (SRI LANKA)          1
Name: Country, Length: 213, dtype: int64

In [80]:
reemplazar1.to_csv("data/clean_sharks.csv")